.App {
  text-align: center;
  margin: 3% auto;
  max-width: 608px;
  font-family: Montserrat;
  font-style: normal;
  font-size: 14px;
  color: #333333;
}

.App-header {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  letter-spacing: -0.045em;
}

button {
  cursor: pointer;
}

.status-buttons-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 4%;
  justify-content: space-evenly;
  border-bottom: 1px solid #bdbdbd;
}

.status-buttons {
  background-color: transparent;
  border: none;
  padding: 12px;
  font: inherit;
  font-weight: 600;
  min-width: 89px;
}

.status-buttons.selected {
  border-bottom: 4px solid #2f80ed;
}

.add-task-container {
  height: 56px;
  margin: 3% 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* margin-bottom: 16px; */
}

.input-details {
  width: 80%;
  height: inherit;
  border: 1px solid #bdbdbd;
  font: inherit;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 2%;
}

.add-button {
  width: 16%;
  height: inherit;
  border: none;
  background: #2f80ed;
  box-shadow: 0px 2px 6px rgba(127, 177, 243, 0.4);
  border-radius: 12px;
  font: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.task-item {
  display: flex;
  font-weight: 500;
  font-size: 18px;
  color: #000000;
}

.material-icons.selected-checkbox {
  color: #2f80ed;
  cursor: pointer;
  border-radius: 4px;
  padding: 2% 0;
  align-self: center;
}

.material-icons.blank-checkbox {
  color: #828282;
  cursor: pointer;
  border-radius: 4px;
  padding: 2% 0;
  align-self: center;
}

.item-desc {
  padding: 2% 1%;
  align-self: center;
}

.item-desc.task-completed {
  text-decoration: line-through;
  color: #333333;
}

.item-desc.task-completed.active-selected {
  display: none;
}

.item-desc.task-incomplete.completed-selected {
  display: none;
}

.delete-icon-container {
  margin-left: auto;
  padding: 2% 2px;
  color: #bdbdbd;
  cursor: pointer;
}

.material-icon.delete-icon {
  align-self: center;
}

.delete-all-button {
  padding: 1.5% 3%;
  background: #eb5757;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  display: flex;
  float: right;
}
.delete-all-button-text {
  align-self: center;
  padding: 0 2px;
}
